.dash-tooltip{
    color: black;

}

#data-table > div.dash-tooltip > div > table > thead > tr > th:nth-child(1){
    border-width: 2px;
    border-color: gray;
    padding: 5px;
}
#data-table > div.dash-tooltip > div > table > thead > tr > th:nth-child(2){
    border-width: 2px;
    border-color: gray;
    padding: 5px;

}
#data-table > div.dash-tooltip > div > table > tbody > tr > td:nth-child(1){
    border-width: 2px;
    border-color: gray;
    padding: 5px;

}
#data-table > div.dash-tooltip > div > table > tbody > tr > td:nth-child(2){
    border-width: 2px;
    border-color: gray;
    padding: 5px;
    
}
#btn_image.m-4{
    margin: 4px !important; 
}
.dash-spinner.dash-default-spinner {
    margin: 1rem auto;
    width: 99%;
    height: 20%;
    text-align: center;
    font-size: 50px;
    margin-left: 1%;
}

